body {
  font-family: "Poppins", sans-serif;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.custom-button {
  background: linear-gradient(to right, #4338ca, #9d76f7);
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-position 0.3s ease-in-out;
  background-size: 150% auto;
  background-position: 0% 0%;
}

.custom-button:hover {
  background-position: 100% 100%;
}

/* Base styling shared between both buttons */
.custom-button2 {
  border-radius: 3rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}

/* Login Button - starts as border, turns filled on hover */
.login-button {
  border: 3px solid #ff7113;
  color: #ff7113;
  background-color: transparent;
}

.login-button::after {
  background-color: #ff7113;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.4s transform ease-out;
  z-index: -1;
}

.login-button:hover::after {
  transform: translate(0, 0);
}

.login-button:hover {
  border: 2px solid transparent;
  color: white;
  transform: scale(1.05);
  will-change: transform;
}

/* Register Button - starts filled, turns to border on hover */
.register-button {
  background-color: #ff7113;
  color: white;
  border: 3px solid #ff7113;
  position: relative; /* Ensure relative positioning */
  z-index: 1; /* Keep this above the ::after element */
}

.register-button::after {
  background-color: #f5f5f4;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.4s transform ease-out;
  z-index: -1;
}

.register-button:hover::after {
  transform: translate(0, 0);
}

.register-button:hover {
  color: #ff7113;
  border: 3px solid transparent;
  transform: scale(1.05);
  will-change: transform;
}

.text-error {
  position: absolute;
  font-size: 0.75rem;
}

.slide-out {
  transition: transform 0.75s ease-in-out; /* Adjust the transition duration as needed */
  transform: translateX(-100%);
  background-color: rgba(239, 68, 68, 0.5); /* Red color with opacity */
}

.bg-menu-select {
  background: linear-gradient(to right, #4338ca, #b292fc);
  padding: 10px 20px;
  border: none;
  color: #fff !important;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-position 0.3s ease-in-out;
  background-size: 150% auto;
  background-position: 0% 0%;
}

.inputt {
  width: 360;
  border: #4338ca;
}

.selectt {
  width: 360 !important;
  border: #4338ca;
}

.input-500 {
  width: 500px;
}

.chartCanvas {
  min-width: 1300px;
  min-height: 600px;
}

.hyperlink {
  color: #200df1;
}
