body {
  font-family: "Poppins", sans-serif;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.custom-button {
  background: linear-gradient(to right, #4338ca, #9d76f7);
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-position 0.3s ease-in-out;
  background-size: 150% auto;
  background-position: 0% 0%;
}

.custom-button:hover {
  background-position: 100% 100%;
}

.text-error {
  position: absolute;
  font-size: 0.75rem;
}

.slide-out {
  transition: transform 0.75s ease-in-out; /* Adjust the transition duration as needed */
  transform: translateX(-100%);
  background-color: rgba(239, 68, 68, 0.5); /* Red color with opacity */
}

.bg-menu-select {
  background: linear-gradient(to right, #4338ca, #b292fc);
  padding: 10px 20px;
  border: none;
  color: #fff !important;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-position 0.3s ease-in-out;
  background-size: 150% auto;
  background-position: 0% 0%;
}

.inputt {
  width: 360;
  border: #4338ca;
}

.selectt {
  width: 360 !important;
  border: #4338ca;
}

.input-500 {
  width: 500px;
}

.chartCanvas {
  min-width: 1300px;
  min-height: 600px;
}
